@import "tailwindcss";
@plugin "tailwindcss-motion";

html,
body {
  background: black;
  color: white;
}

/* Fonts */
@font-face {
  font-family: akira;
  src: url("/fonts/Akira Expanded Demo.otf");
}
@font-face {
  font-family: bricolage;
  src: url("/fonts/BricolageGrotesque10pt-Bold-BF648bd579369ff.ttf");
}
@font-face {
  font-family: fk;
  src: url("/fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf");
}
@font-face {
  font-family: inter;
  src: url("/fonts/Inter_28pt-Medium.ttf");
}
@font-face {
  font-family: space;
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
}
