@import "tailwindcss";
@plugin "tailwindcss-motion";

html,
body {
  background: black;
  color: white;
}

/* Fonts */
@font-face {
  font-family: akira;
  src: url("/fonts/Akira Expanded Demo.otf");
}
@font-face {
  font-family: bricolage;
  src: url("/fonts/BricolageGrotesque10pt-Bold-BF648bd579369ff.ttf");
}
@font-face {
  font-family: fk;
  src: url("/fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf");
}
@font-face {
  font-family: inter;
  src: url("/fonts/Inter_28pt-Medium.ttf");
}
@font-face {
  font-family: space;
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
}

/* Background Premium Gradient */
.bgGradient {
  background: linear-gradient(
    180deg,
    #000000,
    rgba(0, 128, 0, 0.1),
    rgba(0, 128, 0, 0.2),
    #000000
  );
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .bgGradient {
    animation: none;
  }
}

.fade-end {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* Border Glow */
.borderGlow {
  border: solid 2px #05df72;
  animation: borderGlowAnimation 3s linear infinite;
}

/* Border animation */
@keyframes borderGlowAnimation {
  0% {
    border: solid 1px #05df7274;
    box-shadow: 2px #05df7274;
  }
  50% {
    border: solid 1.5px #05df72;
    box-shadow: 0px 2px 0px 0px #05df72;
  }
  75% {
    border: solid 1.5px #05df72;
    box-shadow: 0px 2px 0px 0px #05df72;
  }
  100% {
    border: solid 1px #05df7274;
    box-shadow: 2px #05df7274;
  }
}
